.venv/
__pycache__/
*.pyc
*.egg-info/
build/
dist/
output/
.pytest_cache/
.env
test_output/
generated_project
test_resources_output
test_textures_output
build_test_project
pipeline_output
pipeline_project